<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Student_Information_Management_System</display-name>
  <welcome-file-list>
    <welcome-file>home.jsp</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.verma.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignupController</display-name>
    <servlet-name>SignupController</servlet-name>
    <servlet-class>com.verma.SignupController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupController</servlet-name>
    <url-pattern>/SignupController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentController</display-name>
    <servlet-name>StudentController</servlet-name>
    <servlet-class>com.verma.StudentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentController</servlet-name>
    <url-pattern>/StudentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FacultyController</display-name>
    <servlet-name>FacultyController</servlet-name>
    <servlet-class>com.verma.FacultyController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FacultyController</servlet-name>
    <url-pattern>/FacultyController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CourseController</display-name>
    <servlet-name>CourseController</servlet-name>
    <servlet-class>com.verma.CourseController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseController</servlet-name>
    <url-pattern>/CourseController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentRegController</display-name>
    <servlet-name>StudentRegController</servlet-name>
    <servlet-class>com.verma.StudentRegController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentRegController</servlet-name>
    <url-pattern>/StudentRegController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FacultyRegController</display-name>
    <servlet-name>FacultyRegController</servlet-name>
    <servlet-class>com.verma.FacultyRegController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FacultyRegController</servlet-name>
    <url-pattern>/FacultyRegController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowStuRegController</display-name>
    <servlet-name>ShowStuRegController</servlet-name>
    <servlet-class>com.verma.ShowStuRegController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowStuRegController</servlet-name>
    <url-pattern>/ShowStuRegController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateStuRegFormController</display-name>
    <servlet-name>UpdateStuRegFormController</servlet-name>
    <servlet-class>com.verma.UpdateStuRegFormController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStuRegFormController</servlet-name>
    <url-pattern>/UpdateStuRegFormController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateStuRegController</display-name>
    <servlet-name>UpdateStuRegController</servlet-name>
    <servlet-class>com.verma.UpdateStuRegController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStuRegController</servlet-name>
    <url-pattern>/UpdateStuRegController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteStuRegController</display-name>
    <servlet-name>DeleteStuRegController</servlet-name>
    <servlet-class>com.verma.DeleteStuRegController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteStuRegController</servlet-name>
    <url-pattern>/DeleteStuRegController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutController</display-name>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>com.verma.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/LogoutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomePageController</display-name>
    <servlet-name>HomePageController</servlet-name>
    <servlet-class>com.verma.HomePageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomePageController</servlet-name>
    <url-pattern>/HomePageController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContactUsController</display-name>
    <servlet-name>ContactUsController</servlet-name>
    <servlet-class>com.verma.ContactUsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactUsController</servlet-name>
    <url-pattern>/ContactUsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AboutUsController</display-name>
    <servlet-name>AboutUsController</servlet-name>
    <servlet-class>com.verma.AboutUsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AboutUsController</servlet-name>
    <url-pattern>/AboutUsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>showFacRegController</display-name>
    <servlet-name>showFacRegController</servlet-name>
    <servlet-class>com.verma.showFacRegController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showFacRegController</servlet-name>
    <url-pattern>/showFacRegController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowFacRegController</display-name>
    <servlet-name>ShowFacRegController</servlet-name>
    <servlet-class>com.verma.ShowFacRegController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowFacRegController</servlet-name>
    <url-pattern>/ShowFacRegController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateFacRegController</display-name>
    <servlet-name>UpdateFacRegController</servlet-name>
    <servlet-class>com.verma.UpdateFacRegController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateFacRegController</servlet-name>
    <url-pattern>/UpdateFacRegController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateFacRegFormController</display-name>
    <servlet-name>UpdateFacRegFormController</servlet-name>
    <servlet-class>com.verma.UpdateFacRegFormController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateFacRegFormController</servlet-name>
    <url-pattern>/UpdateFacRegFormController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteFacRegController</display-name>
    <servlet-name>DeleteFacRegController</servlet-name>
    <servlet-class>com.verma.DeleteFacRegController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFacRegController</servlet-name>
    <url-pattern>/DeleteFacRegController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchFacultyController</display-name>
    <servlet-name>SearchFacultyController</servlet-name>
    <servlet-class>com.verma.SearchFacultyController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchFacultyController</servlet-name>
    <url-pattern>/SearchFacultyController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Search</display-name>
    <servlet-name>Search</servlet-name>
    <servlet-class>com.verma.Search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/Search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchStudentController</display-name>
    <servlet-name>SearchStudentController</servlet-name>
    <servlet-class>com.verma.SearchStudentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchStudentController</servlet-name>
    <url-pattern>/SearchStudentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClassesController</display-name>
    <servlet-name>ClassesController</servlet-name>
    <servlet-class>com.verma.ClassesController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClassesController</servlet-name>
    <url-pattern>/ClassesController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NoticeController</display-name>
    <servlet-name>NoticeController</servlet-name>
    <servlet-class>com.verma.NoticeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NoticeController</servlet-name>
    <url-pattern>/NoticeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaymentController</display-name>
    <servlet-name>PaymentController</servlet-name>
    <servlet-class>com.verma.PaymentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentController</servlet-name>
    <url-pattern>/PaymentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OnlinePaymentController</display-name>
    <servlet-name>OnlinePaymentController</servlet-name>
    <servlet-class>com.verma.OnlinePaymentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OnlinePaymentController</servlet-name>
    <url-pattern>/OnlinePaymentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowOnlinePayController</display-name>
    <servlet-name>ShowOnlinePayController</servlet-name>
    <servlet-class>com.verma.ShowOnlinePayController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowOnlinePayController</servlet-name>
    <url-pattern>/ShowOnlinePayController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditPayDetailFormController</display-name>
    <servlet-name>EditPayDetailFormController</servlet-name>
    <servlet-class>com.verma.EditPayDetailFormController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditPayDetailFormController</servlet-name>
    <url-pattern>/EditPayDetailFormController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditPayDetailController</display-name>
    <servlet-name>EditPayDetailController</servlet-name>
    <servlet-class>com.verma.EditPayDetailController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditPayDetailController</servlet-name>
    <url-pattern>/EditPayDetailController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PayCardController</display-name>
    <servlet-name>PayCardController</servlet-name>
    <servlet-class>com.verma.PayCardController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PayCardController</servlet-name>
    <url-pattern>/PayCardController</url-pattern>
  </servlet-mapping>
</web-app>